___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [3]:
import pandas as pd
import numpy as np

In [4]:
from numpy.random import randn
np.random.seed(101)

# set a seed of same random numbers that the lecturer sees

In [5]:
df = pd.DataFrame(randn(5,4),['A', 'B', 'C', 'D', 'E'],['W','X','Y','Z'])

# this is building a dataframe by hand

In [6]:
df

# each of these columns are just a pandas series
# "W" is a series, X is too, etc. 
# dataframes are just a bunch of series that share the same index

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [7]:
df['W']

# this looks like a series

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [7]:
type(df['W'])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [188]:
# (THE MAIN WAY) use bracket notation and pass in column name

df[['W','Z']]

# dataframe contains the 2 series, multiple columns = "Data Frame", 1 column = called a "Series"

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [189]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

# this also works for pandas, but not recommended to type it this way because it might be confused with different methods in
# the dataframe

# if a column was called "add" and you do "df.add", ".add" method will get overwritten by a column name and pandas would
# get confused whether you want a method or a column name

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

DataFrame Columns are just Series

**Creating a new column:**

In [9]:
df['new']

# you will get a key error basically saying there is no key-name called "new"

KeyError: 'new'

In [191]:
df['new'] = df['W'] + df['Y']

# but you can define it as if it already exists, and set it equal to something like declaring a variable

In [192]:
df

# the new column is in place on the right

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

** Removing Columns**

In [193]:
df.drop('new',axis=1)

# to remove the column name you want to drop
# "axis=1" refers to column
# "axis=0" refers to index

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [11]:
df.drop('new')

# you will get an error if you don't write axis
# if you don't specify "axis=1", it will default to "axis=0"
# axis for the ".drop" method refers to the index, if you want to specify for columns, "axis=1"

KeyError: "['new'] not found in axis"

In [194]:
# if you call "df", "new" column is still there, this does NOT happen inplace

df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [195]:
# if you want to have it happen inplace, you need to specify it

df.drop('new',axis=1,inplace=True)

# inplace argument needs to be set to true so that we don't accidentally remove information

In [196]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Can also drop rows this way:

In [197]:
# you can use .drop to drop rows too

df.drop('E',axis=0)

# you don't have to specify "axis=0" since it defaults to it
# and not that this is not done inplace

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [12]:
# why are rows "axis=0" and columns "axis=1"?
# a reference comes back to numpy since dataframes are fancy index markers on top numpy array

# to show this...

df.shape 

# we can do df.shape as if it was a numpy matrix
# note it is a tuple (2d matrix), where 0th index are the number of rows (5) and 1st index is the number of columns 
# which is why rows are referred to as the "0 axis" and columns are referred to as the "1st axis"
# it's taken directly from its shape as if it was a numpy array

(5, 4)

** Selecting Rows**

In [198]:
df.loc['A']

# loc for location
# takes in a label 
# pandas takes in brackets
# 'A' row will return a series

# not only are all columns series, but rows are also series as well

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

Or select based off of position instead of label

In [199]:
# you can grab a row based off of index position
# pass in a numeric/integer index location (position) even if my axis are labelled by strings
# for example... if i want "C" row... 

df.iloc[2] 

# this is the 2nd index row, but actually is the 3rd row of the dataframe (since rows start at 0 as well)

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [14]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [15]:
df.loc['B','Y']

# this gives 'B' row with 'Y' column

-0.8480769834036315

In [201]:
df.loc[['A','B'],['W','Y']]

# you can also pass in a list for the rows and columns you want

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [17]:
df.loc[['A','E'],['W','Y','Z']]

          W         Y         Z
A  2.706850  0.907969  0.503826
E  0.190794  2.605967  0.683509

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [8]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [9]:
df>0

# you can use operators to return a boolean value 
# this is same conditional selection with numpy array

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [10]:
df[df>0]

# as a result, return a value where it is true, and NaN (null) when it was false
# this is how we use conditional selection

# we will usually use this method to evaluate entire columns or rows
# instead of returning nulls (NaN), it will return only the rows or columns of the subset of data frame where conditions are 
# true

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [14]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [11]:
df['W']>0

# notice how we get a series back
# this is linked to the column "W" where "false" would be where NaN (or in this case.. "-2.018168") is

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [15]:
df[df['W']>0]

# i will only get back the rows where this happens to be true
# it will not return row "C" since row "C" was where it was false
# since I am passing in a series, we DO NOT see the null values anymore (we only see these null values when we do conditional
# selection on entire data frame)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [17]:
# what if we wanted to grab all the rows where "Z" is less than 0?

df[df['Z']<0]

# but notice how it will also pull in the positive numbers from column "X" and "Y" because we are asking for the entire data 
# frame back

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [18]:
# we can also call commands off of this data frame

resultdf = df[df['W']>0]
resultdf

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [19]:
# and we can use this to grab results

resultdf['X']

# we can grab all rows of "X" minus row "C"

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [20]:
# you can call commands on the data frame all in 1 step

df[df['W']>0]['X']

# you can stack bracket notation on top of that

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64

In [206]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [21]:
# you can also pass in multiple columns as a list such as "Y", "X"

df[df['W']>0][['Y','X']]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [23]:
# it doesn't matter the way you order the brackets but it probably doesn't look as good putting the columns first as a list

df[['Y','X']][df['W']>0]

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

In [26]:
# repeating what was written above... 

df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [22]:
# to break it down even more...

boolseries = df['W']>0  # boolean series that will return all the values of the 'W' column that are greater than value of 0
result = df[boolseries] # this is assignined the dataframe of the values from boolser to variable "result"
mycolumns = ['Y','X'] # list of the columns that we want to see
result[mycolumns] # passing the list of columns as an argument for variable "result"

# the result has no row "C" where the values in column "W" is negative but we don't care about column "W"... we want it for 
# column "Y" and "X"

# the downside to breaking it down to multiple steps is that it will take up more memory with each variable you define
# simple one-line abstraction is better than something over the top

          Y         X
A  0.907969  0.628133
B -0.848077 -0.319318
D -0.933237 -0.758872
E  2.605967  1.978757

For two conditions you can use | and & with parenthesis:

"|" is used to represent "or"
"&" is used to represent "and"

In [30]:
# what if we wanted multiple conditions? we can use "&" to say that we want 2
# you cannot use "and", you must use "&"
# if you use "and", you will get an error saying "the series is ambiguous" (what that's saying that normal "and" operator 
# cannot take in a series of boolean operators additional to another series of boolean operators, it can only take into account
# single instances of booleans at a time like "True and False")

# the same thing will happen if you use "or" instead of "|"

df[(df['W']>0) & (df['Y'] > 1)]

# "(df[(df['W']>0)" is one condition
# "(df['Y'] > 1)" is the other
# you are passing these conditions in paratheses to show clear separation

# row "E" is where it happens to be true

          W         X         Y         Z
E  0.190794  1.978757  2.605967  0.683509

In [29]:
df[(df['W']>0) & (df['Y'] > 1) & (df['X'] < 1)]

# you can set more than 2 conditions, but if it does not exist, it might not display info

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [209]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [210]:
# to reset the indices back to the default value of numbers (1, 2, 3, ... nth-row)

df.reset_index() # remember to use "()" at the end so that we actually run this ".reset_index()" method

# it will move the old indices over and create a new column called "index" and the actual index will be numbers
# just like other panda dataframes operations, this doesn't occur in place unless you specify it to occur in place
# "df.reset_index(inplace=True)" will allow it to occur in place

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [34]:
# to create new index..

newind = 'CA NY WY OR CO'.split()

# ".split()" off of a string is just a common method to split the blank space from the string
# this is just a quick way to create a list

newind

['CA', 'NY', 'WY', 'OR', 'CO']

In [35]:
df['States'] = newind

# this is saying that the column "States" in the dataframe have the corresponding list values in "newind"
# the dimensions match or it will throw an error

In [213]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [214]:
# you can reset the index column to be back to numeric values but if you want to just set the indices to be "States",
# you can ".set_index()" instead of ".reset_index()" and you can pass in the column name as an argument

df.set_index('States')

# this will overwrite existing index column, unlike ".reset_index" where it shifts the old index over to the right 1 column
# and retains the information/data of the previous/old index

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [215]:
# again this is not inplace, so if you wanted it to be inplace, you must specify "df.set_index('States', inplace=True)"

df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [36]:
df.set_index('States',inplace=True)
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [38]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [39]:
# we use "zip()" to create tuple pairings where it pairs the first "G1" with "1", and the second "G1" with "2", etc.

list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [254]:
# "pd.MultiIndex.from_tuples" is a method from pandas when making a dataframe where it can take in a list and create
# multi-index from it

hier_index

# then the multi-index will have several levels

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [40]:
df2 = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

# the same code above can be written as "df2 = pd.DataFrame(randn(6,2),hier_index,['A','B'])"

df2 

# G1 and G2 are the index, and it looks like there are "sub-indices" underneath G1 and G2
# also known as a index hierarchy

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

Now let's show how to index this! For index hierarchy we use df2.loc[], if this was on the columns axis, you would just use normal bracket notation df2[]. Calling one level of the index returns the sub-dataframe:

In [43]:
df2.loc['G1'] 

# "G1" is outside index and is basically the sub-dataframe in return

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [44]:
df2.loc['G1'].loc[1]

# this will return the first row 
# NOTE: ".loc[1]" is NOT 1st index but it is referring to the row "1"
# the idea is that you call from outside index first and continue calling indices (like how a nested list would work)
# Don't forget the sub-index needs to also be called with ".loc[]" or it will throw an error

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [45]:
df2.index.names

# a frozen list means these indices have no names

FrozenList([None, None])

In [46]:
df2.index.names = ['Group','Num']

In [47]:
df2

                  A         B
Group Num
G1    1    0.302665  1.693723
      2   -1.706086 -1.159119
      3   -0.134841  0.390528
G2    1    0.166905  0.184502
      2    0.807706  0.072960
      3    0.638787  0.329646

In [53]:
# what if we wanted the value "0.072960"?
# that's under "G2", "2", column/index "B"

df2.loc['G2'].loc[2]['B']

# we actually see that this data is the raw number not rounded
# ".loc[][]" is organized by "[row][column]"

0.07295967531703869

In [54]:
# you can also write: "df2.loc['G2'].loc[2,'B']"
df2.loc['G2'].loc[2,'B']

0.07295967531703869

In [55]:
# ".xs" is for cross-section
# this returns a cross-section of rows or columns from a series of data frame in a multi-level index

df2.xs('G1')

# this is to just replace "df2.loc['G1']" 
# NOTE: it does not have brackets, it uses parantheses notation
# ".xs" has the ability to skip or go inside a multi-level index

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [49]:
df2.xs(['G1',1])

C:\Users\raiu\AppData\Local\Temp\ipykernel_5924\1037014324.py:1: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.
  df2.xs(['G1',1])

A    0.302665
B    1.693723
Name: (G1, 1), dtype: float64

In [57]:
df2
# just repeating the dataframe again to visualize it

                  A         B
Group Num
G1    1    0.302665  1.693723
      2   -1.706086 -1.159119
      3   -0.134841  0.390528
G2    1    0.166905  0.184502
      2    0.807706  0.072960
      3    0.638787  0.329646

In [56]:
df2.xs(1,level='Num')

# this is to grab a cross-section where the level is equal to "Num" which is equal to "1"
# in other words... where "Num" is equal to 1 (we see 2 instances of that for "G1" and "G2")

              A         B
Group
G1     0.302665  1.693723
G2     0.166905  0.184502

# Great Job!